.avatar-upload {
  fieldset {
    margin: 30px 0;
  }

  &__submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 24px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
  }
}
