.btn {
  display: inline-flex;
  color: $color-default-white;
  border-radius: 38px;

  background-color: $color-shamrock-green;
  border: 1px solid $color-shamrock-green;
  cursor: pointer;

  transition: opacity $trans-default;

  &--white {
    background-color: $color-default-white;
    border: 1px solid $color-shamrock-green;
    color: $color-jade;
  }

  &:disabled {
    opacity: 0.5;
    background-color: $color-whisper;
    border: 1px solid $color-whisper;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
