.card {
  .container {
    padding-top: 44px;
    padding-bottom: 150px;
  }

  &__heading {
    margin-bottom: 48px;

    p {
      span {
        text-transform: none;
      }
    }
  }

  .title {
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 48px;

    p:not(.card__request-sent) {
      margin-bottom: 16px;
    }
  }

  &__request-sent {
    max-width: 620px;
    background-color: #f5f3ee;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    padding: 8px 12px 8px 8px;
    margin-bottom: 48px;
  }

  form {
    width: 100%;
    max-width: 400px;

    p {
      margin-bottom: 32px;
    }
  }

  fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &[for="card-owner"],
    &[for="card-number"] {
      width: 100%;
    }

    &[for="card-exp"] {
      width: 150px;
    }

    &[for="card-cvc"] {
      width: 100px;
    }

    span {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }

  input {
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    border: 1px solid #202020;
    background: $color-default-white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;

    &#card-exp {
      max-width: 150px;
      height: 44px;
    }

    &#card-cvc {
      max-width: 100px;
      height: 35px;
    }
  }

  &__submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 24px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
  }

  &__description-wrapper {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__permission {
    a {
      @include hover {
        opacity: 0.5;
      }
    }
  }
}

.card__error-message {
  position: relative;
  background-color: #DF0C4B;
  border-radius: 8px;
  padding: 8px 12px 8px 60px;
  max-width: 600px;

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $color-default-white url("../img/svg/feedback-error.svg") center no-repeat;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: $color-default-white;
    margin-bottom: 0;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  b {
    font-weight: 700;
  }
}
