.card {
  .container {
    padding-top: 44px;
    padding-bottom: 150px;
  }

  &__heading {
    margin-bottom: 48px;

    p {
      span {
        text-transform: none;
      }
    }
  }

  .title {
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 72px;
  }

  p {
    margin-bottom: 16px;
  }

  form {
    width: 100%;
    max-width: 720px;
    border-radius: 20px;
    padding: 24px 160px 48px;
    background-color: #F5F3EE;
    border: 1px solid #A3A3A3;

    p {
      margin-bottom: 32px;
    }
  }

  fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &[for="card-owner"],
    &[for="card-number"] {
      width: 100%;
    }

    &[for="card-exp"] {
      width: 150px;
    }

    &[for="card-cvc"] {
      width: 100px;
    }
  }

  span {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  input {
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    border: 1px solid #202020;
    background: $color-default-white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;

    &#card-exp {
      max-width: 150px;
      height: 44px;
    }

    &#card-cvc {
      max-width: 100px;
      height: 35px;
    }
  }

  &__submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 24px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
  }

  &__description-wrapper {
    display: none;

    &.is-active {
      display: block;
    }
  }

  p.text-error {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }

    span {
      font-weight: 400;
      font-size: 28px;
      line-height: 110%;
      text-transform: none;
      margin-bottom: 0;
    }
  }

  &__permission {
    span {
      text-transform: none !important;
    }
  }
}
