.clients {
  &__table {
    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr {
      border-bottom: 1px solid $color-dark-gray;
    }

    th {
      background-color: #F5F3EE;
      text-align: start;
      font-weight: 400;
      padding: 8px;
    }

    td {
      vertical-align: top;
      padding: 8px;
    }
  }

  &__client-name {
    cursor: pointer;
    color: $color-jade;
  }

  &__actions-btn {
    padding: 4px 8px;
  }

  &__item {
    position: relative;

    .clients__actions-btn {
      display: none;
    }

    &--scheduled {

      .clients__actions-btn--cancel,
      .clients__actions-btn--reschedule {
        display: block;
      }
    }

    &--not-scheduled {
      .clients__actions-btn--schedule {
        display: block;
      }

      .clients__next-session {
        color: #FF5C00;
      }
    }

    &--requested {

      .clients__actions-btn--confirm,
      .clients__actions-btn--timeoffer,
      .clients__actions-btn--cancel {
        display: block;
      }
    }

    &--requested-reschedule {
      .clients__actions-btn--confirm,
      .clients__actions-btn--timeoffer,
      .clients__actions-btn--cancel {
        display: block;
      }

      .clients__next-session {
        color: #FF5C00;
      }
    }

    &--unapproved {
      .clients__session-status {
        font-weight: 700;
        color: $color-default-black;
        pointer-events: none;
      }
    }
  }

  &__session-status {
    color: $color-jade;
    cursor: pointer;

    @include hover {
      opacity: 0.7;
    }
  }

  &__actions {
    display: none;

    &.is-active {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      display: flex;
      background: $color-default-white;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      padding: 4px 7px;
    }
  }

  &__actions-btn {
    background-color: transparent;
    border: none;
    color: $color-jade;
  }

  &__actions-close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: transparent;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    border: none;
    transform: rotate(45deg);
    padding: 0;
  }
}
