.doc-questionary {
  .container {
    padding: 73px 230px 133px;
  }

  &__heading {
    margin-bottom: 50px;

    .title {
      font-size: 36px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="email"],
  select {
    max-width: 350px;
    height: 32px;
    margin-top: 16px;
    padding: 0 10px;
    border: 1px solid $color-nero;
    border-radius: 4px;
    background: $color-default-white;
  }

  select:invalid {
    color: $color-dark-gray;
  }

  select option {
    color: $color-default-black;
  }

  textarea {
    max-width: 550px;
    min-height: 150px;
    margin-top: 16px;
    padding: 16px;
    border-radius: 4px;
  }

  .text-18,
  .text-13 {
    margin-top: 8px;
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 30px;

    &.row {
      flex-direction: row;
      gap: 35px;
    }

    input[type="checkbox"] {
      opacity: 0;
    }

    label {
      margin-bottom: 30px;
    }

    span {
      display: block;
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      padding-left: 40px;

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 2px;
        border: 1px solid $color-nero;
      }
    }

    input[type="checkbox"]:checked+span::before {
      border-color: $color-shamrock-green;
      background: $color-shamrock-green url("../img/svg/check-small.svg") center no-repeat;
    }
  }

  .input-file {
    position: relative;
    display: inline-block;

    input[type=file] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }

    .btn {
      padding: 8px 24px;
      margin-top: 16px;
    }
  }

  &__radio {
    display: flex;
    align-items: center;
    max-width: fit-content;
    height: 40px;
    margin: 16px 0 50px;
    border: 1px solid $color-shamrock-green;
    border-radius: 38px;
    overflow: hidden;

    input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      padding: 10px 12px;
      cursor: pointer;
    }

    svg {
      display: none;
    }

    input[type="radio"]:checked+label svg {
      display: inline-block;
      margin-right: 8px;
    }

    .divider {
      height: 100%;
      width: 1px;
      background-color: $color-shamrock-green;
    }

    input[type="radio"]:checked+label {
      color: $color-default-white;
      background-color: $color-shamrock-green;
    }
  }

  &__submit-btn {
    padding: 16px 30px;
  }

  .checkboxes-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 30px;

    .doc-questionary__checkboxes {
      margin: 0;
      width: fit-content;
    }
  }
}

.doc-questionary__submit-btn {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.1;
}

.doc-questionary__wrapper--edu {
  width: 100%;
  max-width: 710px;

  fieldset {
    display: flex;
    gap: 10px;
  }

  input[type="text"] {
    max-width: 100%;
    width: 100%;
  }

  input[name="edu_year"] {
    max-width: 100px;
  }

  input[name="edu_faculty"] {
    max-width: 400px;
  }
}

.doc-questionary__inputs-wrapper {
  margin-bottom: 16px;
}

.doc-questionary__add-edu-btn {
  position: relative;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: $color-shamrock-green;
  cursor: pointer;
  transition: opacity $trans-default;

  .plus-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $color-shamrock-green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  @include hover {
    opacity: 0.5;
  }
}

.new-inputs {
  position: relative;
}

.edu__delete-btn {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  right: -50px;
  background-color: transparent;
  border: 1px solid #777777;
  border-radius: 50%;
  font-size: 32px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 1px;
    background-color: #777777;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform $trans-default;
  }

  @include hover {
    border-color: $color-red;

    &::before {
      background-color: $color-red;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: $color-red;
    }
  }
}
