.doctor-account {
  min-height: 100%;
  display: flex;
  flex-grow: 1;

  .container {
    min-height: 100%;
    flex-grow: 1;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 145px auto;
    gap: 80px;
    height: 100%;
  }

  &__left-col,
  &__right-col {
    padding-top: 40px;
  }

  &__left-col {
    background-color: #f5f3ee;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav-logo {
    width: 72px;
    height: 72px;
    overflow: hidden;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: containx;
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $color-matterhorn;
    padding: 10px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background-color: $color-transparent;
    border: none;
    border-bottom: 3px solid $color-transparent;
    width: 100%;
    text-align: start;

    svg {
      fill: $color-matterhorn;
      stroke: $color-matterhorn;
      color: $color-matterhorn;
    }

    a {
      color: $color-shamrock-green;
    }
  }

  &__nav-link.is-active,
  &__nav-link:hover {
    color: $color-shamrock-green;

    svg {
      color: $color-shamrock-green;
      stroke: $color-shamrock-green;
      fill: $color-shamrock-green;
    }
  }

  &__heading {
    margin-bottom: 48px;
  }
}

// состояния кабинета

.doctor-account__main {

  .text-success,
  .message_1,
  .message_2,
  .message_3,
  .doctor-account__session-wrapper,
  .doctor-account__session-change-wrapper {
    display: none;
  }
}

.doctor-account__main[data-utils="main-1-not-confirmed"] {

  .text-success {
    display: flex;
  }

  .message_1 {
    display: block;
  }
}

.doctor-account__settings[data-utils="settings-main-start"] {

  .settings__payment-no-card,
  .settings__payment-add-card {
    display: block;
  }

  .settings__payment-card,
  .settings__payment-change-card {
    display: none;
  }

  .settings__user-view {
    display: none;
  }

  .settings__payment-show-history {
    display: none;
  }
}

.doctor-account__settings[data-utils="settings-main"] {
  .settings__main-content {
    display: block;
  }

  .settings__payment-no-card,
  .settings__payment-add-card {
    display: none;
  }

  .settings__payment-card,
  .settings__payment-change-card {
    display: block;
  }

  .settings__user-view {
    display: none;
  }

  .settings__payment-show-history {
    display: block;
  }
}

.doctor-account__settings[data-utils="settings-user-view"] {
  .settings__main-content {
    display: none;
  }

  .settings__user-view {
    display: block;
  }
}
