.intro {
  background-color: $color-romance;
  padding-bottom: 54px;
  background-color: #C5FDEA;

  &--businnes {
    background: $color-default-white;
  }

  .container {
    padding-top: 70px;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  &__description {
    max-width: 78%;
  }

  &__text {
    max-width: 43%;

    .intro__subtitle {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 32px;
  }

  .subtitle {
    margin-bottom: 8px;
  }

  .text-25 {
    margin-bottom: 32px;
  }

  &__btn {
    width: 100%;
    padding: 24px 32px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    font-weight: 900;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;

    &--businnes {
      margin-top: 45px;
      padding: 15px 17px;
    }
  }
}
