.nav {
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-left: 20px;
  }

  &__link {
    color: $color-default-black;

    &:hover {
      color: $color-jade;
    }
  }
}
