.questions {
  .container {
    padding-top: 20px;
  }

  &__heading {
    max-width: 55%;
    margin-bottom: 43px;

    .subtitle {
      margin-bottom: 23px;
    }

    p {
      color: #A3A3A3;
    }
  }

  &__main {
    margin-bottom: 80px;
  }

  &__main-row {
    position: relative;
    display: grid;
    height: 48px;
    grid-template-columns: 300px auto;
    column-gap: 80px;

    .inputs-wrapper,
    span.text-20 {
      align-self: center;
    }

    &--age {
      margin-bottom: 50px;

      input {
        width: 100%;
        max-width: 250px;
        height: 44px;
        padding: 0 10px;
        border: 1px solid #202020;
        background: $color-default-white;
        border-radius: 4px;

        &::placeholder {
          color: $color-matterhorn;
        }
      }
    }

    &--language {
      .questions__checkboxes {
        .inputs-wrapper {
          flex-direction: row;
        }
      }
    }
  }

  &__radio {
    margin-bottom: 50px;

    p {
      margin-bottom: 32px;
    }

    .inputs-wrapper {
      display: flex;
      align-items: center;
      max-width: fit-content;
      height: 40px;
      border: 1px solid $color-shamrock-green;
      border-radius: 38px;
      overflow: hidden;
    }

    input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
    }

    label {
      min-width: 140px;
      padding: 10px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        display: none;
      }
    }

    input[type="radio"]:checked+label svg {
      display: inline-block;
      margin-right: 8px;
    }

    .divider {
      height: 100%;
      width: 1px;
      background-color: $color-shamrock-green;
    }

    input[type="radio"]:checked+label {
      color: $color-default-white;
      background-color: $color-shamrock-green;
    }
  }

  &__legend {
    .text-18 {
      max-width: 48%;
      color: #A3A3A3;
    }
  }

  &__checkboxes {
    p {
      margin-bottom: 30px;
    }

    fieldset {
      display: flex;
      padding: 10px;
      margin-bottom: 53px;
    }

    .inputs-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
    }

    input[type="checkbox"] {
      opacity: 0;
    }

    label {
      margin-bottom: 30px;
      cursor: pointer;
    }

    span {
      position: relative;
      display: block;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      padding-left: 40px;

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 2px;
        border: 1px solid $color-nero;
      }
    }

    input[type="checkbox"]:checked+span::before {
      border-color: $color-shamrock-green;
      background: $color-shamrock-green url("../img/svg/check-small.svg") center no-repeat;
    }
  }

  &__legend {
    margin-bottom: 22px;

    .text-31 {
      margin-bottom: 22px;
    }
  }

  hr {
    margin-bottom: 90px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 7px;
    height: 66px;
    font-weight: 900;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
  }

  &__phone {
    margin-bottom: 50px;

    p {
      margin-bottom: 24px;
    }

    input {
      width: 100%;
      max-width: 330px;
      height: 44px;
      margin-bottom: 50px;
      padding: 4px 10px;
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      border: 1px solid #202020;
      background: $color-default-white;
      border-radius: 4px;
    }
  }

  .signup-header {
    &__link {
      font-size: 28px;
    }
  }
}

.time-specific-choose {
  display: none;
}

.questions__therapy-time:has(input#time-specific:checked) {
  .time-specific-choose {
    display: flex;

    label {
      display: grid;
      grid-template-columns: 200px auto;
      align-items: center;
      padding-top: 20px;
    }

    input {
      width: 100%;
      max-width: 330px;
      height: 44px;
      padding: 4px 10px;
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      border: 1px solid #202020;
      background: $color-default-white;
      border-radius: 4px;
    }
  }
}
