.schedule {
  position: relative;

  h2 {
    margin-bottom: 48px;
  }

  .text-success {
    display: none;
  }

  &__send-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
  }

  .text-success.is-visible {
    position: relative;
    display: block;
    background-color: #0f9c03;
    border-radius: 8px;
    padding: 8px 12px 8px 50px;
    width: fit-content;
    max-width: 600px;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: $color-default-white;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $color-default-white url("../../img/svg/success-mark.svg") center no-repeat;
    }
  }

  &__tab-btn {
    cursor: pointer;
    padding: 10px 4px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    color: $color-jade;
    margin-right: 10px;

    &.is-active {
      background-color: $color-humming-bird;
      border-bottom: 3px solid $color-jade;
      color: $color-default-black;
    }
  }

  .calendar-wrapper {
    width: 100%;
    margin: 3em auto;
  }

  table {
    clear: both;
    width: 100%;
    border: 1px solid #dcdcff;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
  }

  td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
  }

  .days td {
    background-color: #c5fdea;
    border-bottom: 1px solid #a3a3a3;
    height: 36px;
  }

  td.not-current {
    color: #c0c0c0;
  }

  td.today {
    font-weight: 700;
    color: #28283b;
    font-size: 1.5em;
  }

  thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  td.past {
    background-color: #eaeaea;
  }

  td.past label {
    display: none;
  }

  td.check,
  td.hours {
    width: 130px;
    height: 64px;
    border-bottom: 1px solid #a3a3a3;
  }

  td.check:has(input:checked):not(.expired) {
    background-color: #C5FDEA;
  }

  .expired {
    background-color: #f7f6f6;
  }

  .expired label {
    pointer-events: none;
  }

  .slots {
    border-bottom: 1px solid $color-dark-gray;
  }

}

.schedule td {
  label {
    position: relative;
    padding: 20px 40px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 2px;
      border: 2px solid $color-nero;
      cursor: pointer;
    }

    .tooltip {
      display: none;
    }
  }

  input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
  }

  label:has(input[type="checkbox"]:checked)::before {
    border-color: $color-jade;
    background: $color-jade url("../img/svg/check-small.svg") center no-repeat;
  }

  label:has(.requested)::before {
    left: 35%;
  }

  label:has(.requested)::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 35%;
    transform: translate(50%, -50%);
    width: 32px;
    height: 32px;
    background: url("../img/svg/requested.svg") center no-repeat;
  }

  label:has(.scheduled) {
    &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      background: url("../img/svg/scheduled.svg") center no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      .tooltip {
        display: block;
        position: absolute;
        bottom: -44px;
        right: -2px;
        background-color: $color-dark-gray;
        border-radius: 4px;
        padding: 10px;
        z-index: 200;

        &::before {
          position: absolute;
          content: "";
          top: -19px;
          left: 16px;
          width: 20px;
          height: 20px;
          background: linear-gradient(45deg, $color-dark-gray 0%, $color-dark-gray 50%, $color-transparent 50%, $color-transparent 100%);
        }
      }
    }
  }
}
