.schedule {
  h2 {
    margin-bottom: 48px;
  }

  &__tab-btns {
    display: flex;
  }

  &__tab-btn {
    cursor: pointer;
    padding: 10px 4px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    color: $color-jade;
    margin-right: 10px;

    &.is-active {
      background-color: $color-humming-bird;
      border-bottom: 3px solid $color-jade;
      color: $color-default-black;
    }
  }

  &__calender {
    width: 100%;
    display: flex;
  }

  &__calender-timeoptions {
    display: flex;
    flex-direction: column;

    span:not(.schedule__calender-timeoption) {
      width: 100%;
      height: 38px;
      background-color: $color-humming-bird;
      border-bottom: 1px solid $color-dark-gray;
    }
  }

  &__calender-timeoption {
    width: 130px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-dark-gray;
  }

  &__calender-week.is-active {
    width: 100%;
    display: flex;
  }

  &__calender-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
  }

  &__calender-day-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    background-color: $color-humming-bird;
    border-bottom: 1px solid $color-dark-gray;
    text-align: center;
  }

  &__calender-day-slots {
    display: flex;
    flex-direction: column;
  }

  &__calender-day-slots {
    label {
      position: relative;
      width: 130px;
      height: 64px;
      border-bottom: 1px solid $color-dark-gray;

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
        border: 2px solid $color-nero;
      }

      .tooltip {
        display: none;
      }
    }

    input[type="checkbox"] {
      opacity: 0;
    }

    label:has(input[type="checkbox"]:checked)::before {
      border-color: $color-jade;
      background: $color-jade url("../img/svg/check-small.svg") center no-repeat;
    }

    label:has(.requested)::before {
      left: 35%;
    }

    label:has(.requested)::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 35%;
      transform: translate(50%, -50%);
      width: 32px;
      height: 32px;
      background: url("../img/svg/requested.svg") center no-repeat;
    }

    label:has(.scheduled) {
      &::after {
        position: absolute;
        content: "";
        width: 32px;
        height: 32px;
        background: url("../img/svg/scheduled.svg") center no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        .tooltip {
          display: block;
          position: absolute;
          bottom: -44px;
          right: -2px;
          background-color: $color-dark-gray;
          border-radius: 4px;
          padding: 10px;
          z-index: 200;

          &::before {
            position: absolute;
            content: "";
            top: -19px;
            left: 16px;
            width: 20px;
            height: 20px;
            background: linear-gradient(45deg, $color-dark-gray 0%, $color-dark-gray 50%, $color-transparent 50%, $color-transparent 100%);
          }
        }
      }
    }
  }
}
