.sessions {
  &__heading {
    h2 {
      margin-bottom: 48px;
    }
  }

  &__requests {
    margin-bottom: 24px;

    p:first-child {
      margin-bottom: 16px;
    }
  }

  &__requests-item {
    background-color: #F5F3EE;
    border: 1px solid #A3A3A3;
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 16px;
  }

  &__requests-btns {
    margin: 20px 0 0;
    display: flex;
    gap: 10px;

    button {
      padding: 8px 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 367px 640px;
    column-gap: 40px;
  }

  &__clients {
    details {
      position: relative;
      margin-bottom: 48px;

      summary {
        list-style: none;
        margin-bottom: 40px;
        cursor: pointer;
      }

      svg {
        transform: rotate(180deg);
        position: absolute;
        top: 4px;
        margin-left: 10px;
      }

      &[open] {

        svg {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__clients-item {
    padding: 16px 0;
    font-size: 18px;
    border-bottom: 1px solid $color-dark-gray;
    cursor: pointer;
  }

  &__clinet-wrapper {
    padding: 8px;
  }

  &__clients-item.is-active &__clinet-wrapper {
    background-color: $color-humming-bird;
  }

  &__client-name {
    margin-bottom: 11px;
    width: fit-content;

    @include hover {
      color: $color-jade;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    max-width: 50%;
    text-align: end;
  }

  &__expand-btn {
    width: 100%;
    padding: 16px 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sessions__requests-new-date {
  color: #FF5C00;
}

.sessions__requests-client {
  @include hover {
    color: $color-shamrock-green;
  }
}
