.signup {
  .container {
    padding-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 749px;
    background-color: #F5F3EE;
    border-radius: 24px;
    padding: 40px;
    border: 1px solid #A3A3A3;
  }

  &__heading {
    margin-bottom: 48px;

    h2 {
      font-size: 44px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    &:has(input#one_time_psswd) {
      width: 100%;
    }
  }

  label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 79px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:has(input#one_time_psswd) {
      padding-right: 0;
    }
  }

  input {
    min-width: 350px;
    height: 54px;
    border: 1px solid $color-matterhorn;
    border-radius: 37px;
    padding: 16px;

    font-size: 20px;
    font-weight: 400;
    line-height: 1;

    &#one_time_psswd {
      width: 100%;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    height: 66px;
    margin: 0 auto 24px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    &.is-loading {
      pointer-events: none;
      cursor: not-allowed;
    }

    .icon-loader {
      margin-right: 10px;
    }
  }

  &__links-wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

.signup-header {
  .container {
    padding-top: 44px;
  }

  &__links {
    margin-bottom: 40px;
    width: fit-content;
    border-bottom: 1px solid $color-shamrock-green;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    display: inline-block;
    min-width: 304px;
    background-color: $color-transparent;
    border: none;
    border-bottom: 3px solid $color-transparent;
    color: $color-jade;
    text-align: center;
    padding-bottom: 5px;
    transition: all 0.5s ease-in;
  }

  &__link.is-active {
    font-weight: 700;
    color: $color-default-black;
    border-bottom: 3px solid $color-shamrock-green;
    transition: all 0.5s ease-in;
  }
}

.show-password-btn {
  position: absolute;
  top: 10px;
  right: -120px;
  background-color: transparent;
  border: none;
  font-size: 13px;
  line-height: 1;
  color: $color-jade;
  cursor: pointer;
}
