.user-account {
  max-width: 1440px;
  min-height: 100%;
  flex-grow: 1;
  display: flex;

  .container {
    min-height: 100%;
    flex-grow: 1;
    padding-right: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 124px auto;
    gap: 80px;
    height: 100%;
  }

  &__left-col,
  &__right-col {
    padding-top: 40px;
  }

  &__left-col {
    background-color: #f5f3ee;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav-logo {
    width: 72px;
    height: 72px;
    overflow: hidden;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: containx;
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $color-matterhorn;
    padding: 10px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background-color: $color-transparent;
    border: none;
    border-bottom: 3px solid $color-transparent;
    width: 100%;
    text-align: start;

    svg {
      fill: $color-matterhorn;
      stroke: $color-matterhorn;
      color: $color-matterhorn;
    }

    a {
      color: $color-shamrock-green;
    }
  }

  &__nav-link.is-active,
  &__nav-link:hover {
    color: $color-shamrock-green;

    svg {
      color: $color-shamrock-green;
    }
  }

  &__title {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 48px;
    line-height: 1.2;
  }

  &__main {
    .title {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.2;
    color: #2e2e2e;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 10px;
    }
  }

  &__doctor {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 18px;

    .doctor-name,
    .doctor-name-changed {
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .user-account__contact {
      padding: 8px 24px;
      font-size: 20px;
      font-weight: 600;

    }
  }
}

.user-account__messages {
  margin-bottom: 48px;
  width: 860px;
}

.user-account__message {
  width: 100%;
  margin: 40px 0 0;
  border-radius: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  padding: 16px 16px 40px;

  &--welcome {
    position: relative;
    background-color: #0f9c03;
    border-radius: 8px;
    padding: 8px 12px 8px 50px;
    color: $color-default-white;

    &::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 16px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $color-default-white url("../img/svg/success-mark.svg") center no-repeat;
    }
  }

  &--requested,
  &--reschedule,
  &--doctor-change-request {
    border: 1px solid #A3A3A3;
    background-color: #F5F3EE;
  }

  &--error {
    position: relative;
    margin: 40px 0 0;
    background-color: #DF0C4B;
    border-radius: 8px;
    padding: 8px 12px 8px 60px;
    max-width: 800px;

    &::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 16px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $color-default-white url("../img/svg/feedback-error.svg") center no-repeat;
    }

    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 120%;
      color: $color-default-white;
      margin-bottom: 0;

      &:first-child {
        margin-bottom: 10px;
      }
    }

    b {
      font-weight: 700;
    }
  }

  &--doctor-change-request {
    p:first-child {
      margin-bottom: 20px;
    }

    .btns {
      display: flex;
      gap: 10px;
      margin: 30px 0 0;

      button {
        padding: 8px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

.user-account__session-schedule-reset,
.user-account__session-change-reset {
  margin-top: 24px;
  padding: 16px 24px;
}

.user-account__check-card {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  background-color: transparent;
  border: 2px solid $color-default-white;

  svg {
    color: $color-default-white;
    margin-right: 8px;
  }

  span {
    font-size: 20px;
    color: $color-default-white;
  }
}

.user-account__main {
  max-width: 900px;
}

// состояния кабинета

.user-account__main,
.user-account__main[data-utils="main-confirmed"] {

  .user-account__message,
  .user-account__session-change-wrapper,
  .videochat__message--requested-session,
  .videochat__message--requested-reschedule,
  .videochat__message--no-session {
    display: none;
  }
}

.user-account__main[data-utils="main-not-confirmed"] {
  .user-account__message--requested {
    display: block;
  }

  .videochat__message--next-session {
    display: none;
  }

  .videochat__message--requested-session {
    display: block;
  }

  .videochat__user-photo-wrapper {
    filter: grayscale(1);
    opacity: 0.5;
  }

  .videochat__message {
    opacity: 0.5;
  }

  .videochat__btn {
    display: none;
  }
}

.user-account__main[data-utils="main-1-confirmed"] {
  .user-account__message--welcome {
    display: block;
  }
}

.user-account__main[data-utils="main-not-scheduled"] {
  .videochat__message--no-session {
    display: block;
  }

  .videochat__message--next-session {
    display: none;
  }

  .videochat__buttons-wrapper {
    justify-content: center;
  }

  .videochat__btn {
    display: none;

    &#schedule-session {
      display: flex;
      width: fit-content;
      padding: 0 10px;
    }
  }
}

.user-account__main[data-utils="main-session-reschedule-requested"] {
  .user-account__message--reschedule {
    display: block;
  }

  .videochat__user-photo-wrapper {
    filter: grayscale(1);
    opacity: 0.5;
  }

  .videochat__message {
    opacity: 0.5;
  }

  .videochat__message--requested-reschedule {
    display: block;
  }

  .videochat__buttons-wrapper {
    justify-content: center;
  }

  .videochat__btn {
    display: none;

    &#chat-with-therapist {
      display: flex;
      width: fit-content;
      padding: 0 10px;
    }
  }
}

.user-account__main[data-utils="main-doctor-change-requested"] {
  .user-account__message--doctor-change-request {
    display: block;
  }

  .videochat__user-photo-wrapper {
    filter: grayscale(1);
    opacity: 0.5;
  }

  .videochat__message {
    opacity: 0.5;
  }

  .videochat__message--requested-reschedule {
    display: block;
  }

  .videochat__buttons-wrapper {
    justify-content: center;
  }

  .videochat__btn {
    display: none;

    &#chat-with-therapist {
      display: flex;
      width: fit-content;
      padding: 0 10px;
    }
  }
}

.user-account__main[data-utils="main-payment-error"] {
  .user-account__message--error {
    display: block;
  }
}

.user-account__settings[data-utils="settings-reg-completed"] {

  .message,
  .user-account__contact,
  .settings__rechoice.rechoice-1 {
    display: none;
  }
}

.user-account__settings[data-utils="settings-main"] {

  .settings__rechoice.rechoice-1 {
    display: none;
  }

  .first-session-msg,
  .welcome-message,
  .text-success {
    display: none;
  }
}

.user-account__settings[data-utils="settings-request"] {
  .settings__main {
    display: none;
  }

  .settings__rechoice.rechoice-1 {
    display: block;
  }
}

.user-account__rechoice {
  .questions {
    .container {
      padding: 0;
    }
  }
}

.first-session-msg {
  .doctor-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
