.user-account {
  .container {
    padding-top: 67px;
    padding-bottom: 80px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 173px auto;
    gap: 80px;
  }

  &__tab {
    color: $color-jade;
    padding: 10px 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    background-color: $color-transparent;
    border: none;
    border-bottom: 3px solid $color-transparent;
    width: 100%;
    text-align: start;
    transition: all 0.5s ease-in;

    a {
      color: $color-jade;
    }
  }

  &__tab:hover {
    border-bottom: 3px solid $color-jade;
    transition: all 0.5s ease-in;
  }

  &__tab.is-active {
    background: $color-humming-bird;
    border-bottom: 3px solid $color-jade;
    color: $color-default-black;
    transition: all 0.5s ease-in;

    a {
      color: $color-nero;
    }
  }

  &__main {
    .title {
      margin-bottom: 40px;
    }
  }

  .text-success {
    display: flex;
    align-items: center;
    margin-bottom: 72px;

    svg {
      margin-right: 10px;
    }
  }

  &__description {
    margin-bottom: 48px;

    .text-25 {
      margin-bottom: 24px;
    }
  }

  &__doctor {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
  }

  &__doctor-image {
    margin-right: 10px;
  }

  &__doctor-info {
    p {
      margin-bottom: 10px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    border-radius: 73px;
    border: 1px solid $color-jade;
    padding: 8px 24px;

    svg {
      margin-right: 8px;
    }

    span {
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
    }
  }

  .session-info {
    width: 800px;
  }

  &__change-btn {
    padding: 8px 24px;
  }
}

.change-requested {

  .next-session,
  .requested-session {
    color: $color-dark-gray;
  }
}

// состояния кабинета

.user-account__main {

  .text-success,
  .message_1,
  .message_2,
  .message_3,
  .user-account__session-wrapper,
  .user-account__session-change-wrapper {
    display: none;
  }
}

.user-account__main[data-utils="main-1-not-confirmed"] {

  .text-success {
    display: flex;
  }

  .message_1 {
    display: block;
  }
}

.user-account__main[data-utils="main-1-confirmed"] {

  .message_2,
  .user-account__session-wrapper {
    display: block;
  }

  .requested-session {
    display: none;
  }
}

.user-account__main[data-utils="main-not-confirmed"] {
  .text-success {
    display: none;
  }

  .message_1 {
    display: block;
  }
}

.user-account__main[data-utils="main-change-confirmed"],
.user-account__main[data-utils="main-confirmed"] {

  .text-success,
  .message_2 {
    display: none;
  }

  .user-account__session-wrapper {
    display: block;
  }

  .requested-session {
    display: none;
  }
}

.user-account__main[data-utils="main-change"] {

  .title,
  .user-account__description {
    display: none;
  }

  .user-account__session-change-wrapper {
    display: block;
  }
}

.user-account__main[data-utils="main-change-not-confirmed"] {
  .message_3 {
    display: block;
  }

  .user-account__session-wrapper {
    display: block;
  }

  .user-account__change-btn {
    display: none;
  }

  .requested-session {
    display: block;
  }

  .next-session,
  .requested-session {
    color: $color-dark-gray;
  }
}

.user-account__settings[data-utils="settings-main"] {

  .settings__rechoice.rechoice-1,
  .settings__rechoice.rechoice-2 {
    display: none;
  }
}

.user-account__settings[data-utils="settings-rechoice-1"] {
  .settings__main {
    display: none;
  }

  .settings__rechoice.rechoice-1 {
    display: block;
  }

  .settings__rechoice.rechoice-2 {
    display: none;
  }
}

.user-account__settings[data-utils="settings-rechoice-2"] {
  .settings__main {
    display: none;
  }

  .settings__rechoice.rechoice-1 {
    display: none;
  }

  .settings__rechoice.rechoice-2 {
    display: block;
  }
}
