.videochat {
  &__heading {
    margin-bottom: 34px;

    span {
      margin-left: 10px;
    }
  }

  &__session-info {
    height: 400px;
    border-radius: 20px;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 24px;

    &:not(.unscheduled) {
      #schedule-session {
        display: none;
      }
    }

    &.unscheduled {
      .videochat__btn {
        max-width: fit-content;
        padding: 0 10px;
      }

      #cancel-session,
      #reschedule-session {
        display: none;
      }

      #schedule-session {
        display: inline-flex;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;

    svg {
      margin-right: 8px;
      stroke: $color-shamrock-green;
      pointer-events: none;
    }

    span {
      pointer-events: none;
    }
  }
}

.videochat__user-photo-wrapper {
  position: relative;
  margin-bottom: 16px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 70%;
    width: 48px;
    height: 48px;
    background: url('../img/svg/video-icon.svg') center no-repeat;
  }
}

.videochat__user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.videochat__client-name {
  font-weight: 700;
  font-size: 35px;
}

.videochat__client-id {
  border-radius: 8px;
  padding: 4px;
  background-color: #EAEAEA;
  font-size: 18px;
  color: #777777;
}

.videochat:has(.videochat__buttons-wrapper.unscheduled) {
  .videochat__user-photo {
    img {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }

  .next-session {
    opacity: 0.5;
  }
}

.videochat__message {
  text-align: center;
}

.next-session-unscheduled {
  display: none;
}

.videochat:has(.videochat__buttons-wrapper.unscheduled) {
  .next-session-scheduled {
    display: none;
  }

  .next-session-unscheduled {
    display: block;
  }
}
