.videochat {
  &__heading {
    margin-bottom: 34px;

    span {
      margin-left: 10px;
    }
  }

  &__session-info {
    height: 400px;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    &:not(.unscheduled) {
      #schedule-session {
        display: none;
      }
    }

    &.unscheduled {

      #cancel-session,
      #reschedule-session {
        display: none;
      }
      #schedule-session {
        display: inline-flex;
      }
    }
  }

  &__btn {
    padding: 8px 24px;

    svg {
      margin-right: 8px;
    }
  }
}
