.title {
  font-size: 51px;
  font-weight: 700;
  line-height: 1.2;
}

.subtitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.text-96 {
  font-size: 96px;
  font-weight: 400;
  line-height: 1;
}

.text-55 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
}

.text-40 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.text-31 {
  font-size: 31px;
  font-weight: 400;
  line-height: 1.2;
}

.text-25 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
}

.text-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.text-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.text-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

.text-green {
  color: $color-shamrock-green;
}

.text-error {
  color: $color-red;
}

.text-white {
  color: $color-default-white;
}
