// .user-unlogged {
//   .logged {
//     display: none;
//   }
// }

.user-logged {
  // .unlogged {
  //   display: none;
  // }

  &.client {
    .nav__item--clients {
      display: none;
    }
  }

  &.therapist {
    .nav__item--psychologists {
      display: none;
    }
  }
}

.internal {
  .header {
    display: none;
  }
}

.wrapper:not(.client),
.wrapper:not(.therapist) {
  .logged {
    display: none;
  }

  .unlogged {
    display: block;
  }
}

.wrapper.client,
.wrapper.therapist {
  .logged {
    display: block;
  }

  .unlogged {
    display: none;
  }
}

.wrapper {
  &.client {
    .nav__item--clients {
      display: none;
    }
  }

  &.therapist {
    .nav__item--psychologists {
      display: none;
    }
  }
}
